th{
    background-color:rgb(245, 227, 199);
}
.one{
    background-color: rgba(113, 113, 192, 0.418);
    color:teal;
}
.two{
    background-color: rgba(199, 199, 235, 0.418);
    color:tomato;
}